@{ ViewData["Title"] = "Home Page"; }
@model IEnumerable<Resume>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>text-align</title>
    <style>


        .container {
            width: 100%;
            text-align: center
        }
    </style>
</head>
<body>  
    <div class="container">
        <h3>Список резюме</h3>
        <div class="row row-cols-1 row-cols-md-3">
            @foreach (var v in Model)
            {
    <div class="col mb-4">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Wanted salary: @v.WantedSalary</h5>
                <p class="card-text text-muted">@v.RefreshDate</p>
                <a asp-action="Details" asp-controller="Resume" asp-route-vacancyId="@v.Id">Подробнее</a>
            </div>
        </div>
    </div>}
        </div>
    </div>
</body>
</html>